
old/CG_binarized/adult_binary.csv
old/CG_binarized/bank_mkt_binary.csv
old/CG_binarized/banknote_binary.csv
old/CG_binarized/diabetes_pima_binary.csv
old/CG_binarized/ecoli_binary.csv
old/CG_binarized/glass_binary.csv
old/CG_binarized/hearts_binary.csv
old/CG_binarized/ILPD_binary.csv
old/CG_binarized/ionosphere_binary.csv
old/CG_binarized/liver_binary.csv
old/CG_binarized/loan_binary.csv
old/CG_binarized/loan_binary.csv.zip
old/CG_binarized/magic_binary.csv
old/CG_binarized/mammography_binary.csv
old/CG_binarized/mushroom_binary.csv
old/CG_binarized/musk_binary.csv
old/CG_binarized/oilspill_binary.csv
old/CG_binarized/phoneme_binary.csv
old/CG_binarized/seeds_binary.csv
old/CG_binarized/sensorless_binary.csv
old/CG_binarized/skinnonskin_binary.csv
old/CG_binarized/tictactoe_binary.csv
old/CG_binarized/transfusion_binary.csv
old/CG_binarized/wdbc_binary.csv
old/CG_binarized/wine_binary.csv
old/datasets/abalone.csv
old/datasets/adult.csv
old/datasets/agaricus-lepiota.csv
old/datasets/attrition.csv
old/datasets/bank_mkt.csv
old/datasets/bupa.csv
old/datasets/compas.csv
old/datasets/cpusmallscale.csv
old/datasets/data_banknote_authentication.csv
old/datasets/default.csv
old/datasets/diabetes_pima.csv
old/datasets/drugs.csv
old/datasets/ecoli.csv
old/datasets/FICO_Readme.xlsx
old/datasets/FICO_v1.csv
old/datasets/german_credit.csv
old/datasets/glass.csv
old/datasets/hearts.csv
old/datasets/housing.csv
old/datasets/ILPD.csv
old/datasets/ionosphere.csv
old/datasets/law.csv
old/datasets/law_adia.csv
old/datasets/law_old.csv
old/datasets/loan_data_2007_2014_prepped.csv
old/datasets/loan_data_2007_2014_prepped.csv.zip
old/datasets/magic.csv
old/datasets/mammography.csv
old/datasets/musk.csv
old/datasets/nursery.csv
old/datasets/oilspill.csv
old/datasets/phoneme.csv
old/datasets/recruitment.csv
old/datasets/seeds.csv
old/datasets/sensorless.csv
old/datasets/skinnonskin.csv
old/datasets/student.csv
old/datasets/superconduct.csv
old/datasets/tictactoe.csv
old/datasets/transfusion.csv
old/datasets/wdbc.csv
old/datasets/wdbc_original.csv
old/datasets/wdbc_original.names
old/datasets/wine.csv
old/datasets_original/abalone.csv
old/datasets_original/adult.csv
old/datasets_original/attrition.csv
old/datasets_original/bank_mkt.csv
old/datasets_original/bupa.csv
old/datasets_original/compas.csv
old/datasets_original/cpusmallscale.csv
old/datasets_original/default.csv
old/datasets_original/diabetes_pima.csv
old/datasets_original/drugs.csv
old/datasets_original/FICO_Readme.xlsx
old/datasets_original/FICO_v1.csv
old/datasets_original/german_credit.csv
old/datasets_original/hearts.csv
old/datasets_original/housing.csv
old/datasets_original/ILPD.csv
old/datasets_original/ionosphere.csv
old/datasets_original/law.csv
old/datasets_original/loan_data_2007_2014_prepped.csv
old/datasets_original/loan_data_2007_2014_prepped.csv.zip
old/datasets_original/magic.csv
old/datasets_original/mammography.csv
old/datasets_original/musk.csv
old/datasets_original/nursery.csv
old/datasets_original/oilspill.csv
old/datasets_original/phoneme.csv
old/datasets_original/recruitment.csv
old/datasets_original/sensorless.csv
old/datasets_original/skinnonskin.csv
old/datasets_original/student.csv
old/datasets_original/superconduct.csv
old/datasets_original/tictactoe.csv
old/datasets_original/transfusion.csv
old/datasets_original/wdbc.csv
old/datasets_original/wdbc_original.csv
old/datasets_original/wdbc_original.names
old/datasets_original/wine.csv
old/FSDT_binarized/adult_binary.csv
old/FSDT_binarized/bank_mkt_binary.csv
old/FSDT_binarized/banknote_binary.csv
old/FSDT_binarized/diabetes_pima_binary.csv
old/FSDT_binarized/ecoli_binary.csv
old/FSDT_binarized/glass_binary.csv
old/FSDT_binarized/hearts_binary.csv
old/FSDT_binarized/ILPD_binary.csv
old/FSDT_binarized/ionosphere_binary.csv
old/FSDT_binarized/liver_binary.csv
old/FSDT_binarized/loan_binary.csv
old/FSDT_binarized/loan_binary.csv.zip
old/FSDT_binarized/magic_binary.csv
old/FSDT_binarized/mammography_binary.csv
old/FSDT_binarized/mushroom_binary.csv
old/FSDT_binarized/musk_binary.csv
old/FSDT_binarized/oilspill_binary.csv
old/FSDT_binarized/phoneme_binary.csv
old/FSDT_binarized/seeds_binary.csv
old/FSDT_binarized/sensorless_binary.csv
old/FSDT_binarized/skinnonskin_binary.csv
old/FSDT_binarized/tictactoe_binary.csv
old/FSDT_binarized/transfusion_binary.csv
old/FSDT_binarized/wdbc_binary.csv
old/FSDT_binarized/wine_binary.csv
